# copy this file to credentials.py and replace the strings with the
# credentials that Twitter provided you with.

consumer_key = 'create_this_yourself'
consumer_secret = 'create_this_yourself'
access_token = 'create_this_yourself'
access_token_secret = 'create_this_yourself'
