h1::before {
  content: "";
  display: inline-block;
  background-image: url(https://avatar.frankfurtium.de/ds100.svg);
  background-size: 100% 100%;
  height: 25px;
  width: 25px;
}

ul.flat {
  padding-left: 0;
  width: 100%;
  border-top: thin black double;
  border-bottom: thin black double;
}

ul.flat li::before {
  content: " | ";
}

ul.flat li:first-child::before {
  content: "";
}

ul.flat li {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
}

ul.flat li.containsul::before {
  content: "";
}

blockquote {
  border: thin blue solid;
  font-family: sans-serif;
  padding: .5em;
  border-radius: 1em;
}

blockquote.antwort {
  margin-left: 6em;
}

blockquote.antwort2 {
  margin-left: 9em;
}

blockquote.antwort3 {
  margin-left: 12em;
}

blockquote::before {
  display: block;
  margin-bottom: .5em;
  color: #888;
}

blockquote.tweet_nofollow::before {
  content: "@ungefolgter twittert:";
}

blockquote.tweet_irgendwer::before {
  content: "@irgendwer twittert:";
}

blockquote.tweet_follower::before {
  content: "@gefolgter twittert:";
}

blockquote.tweet_bot::before {
  content: "@_ds_100 twittert:";
}

table, th, td {
  border-collapse: collapse;
  border: thin black solid;
}

table tbody th {
  text-align: left;
}

table tbody td {
  text-align: center;
}

table.dumptable tbody td {
  text-align: left;
}

table.dumptable tbody th {
  text-align: left;
  font-family: monospace;
}

th.yes, td.yes {
  background-color: #00ff00;
}

th.note, td.note {
  background-color: #ffd000;
}

th.no, td.no {
  background-color: #ff8080;
}

navi, header, section {
  display: block;
  clear: both;
}

navi ul {
  display: none;
  margin-top: .1em;
  margin-bottom: .1em;
}

navi p {
  display: block;
  float: left;
  margin-right: 1em;
  margin-top: .1em;
  margin-bottom: .1em;
}

navi p:before {
  content: "☰ ";
  display: inline-block;
  margin-right: .2em;
}

navi:hover ul, navi:active ul {
  display: block;
}

.only-mastodon {
  display: initial;
  color: #ff0000;
}

.only-twitter {
  display: initial;
  color: #0000ff;
}

.only-mastodon:before {
   content: "";
   display: inline-block;
   background-image: url('mastodon-icon.png');
   background-size: 100% 100%;
   height: 16px;
   width: 16px;
   margin-right: 4px;
}

.only-twitter:before {
   content: "";
   display: inline-block;
   background-image: url('twitter-icon.png');
   background-size: 100% 100%;
   height: 16px;
   width: 16px;
   margin-right: 4px;
}
