h1::before {
  content: "";
  display: inline-block;
  background-image: url(https://avatar.frankfurtium.de/ds100.svg);
  background-size: 100% 100%;
  height: 25px;
  width: 25px;
}

blockquote {
  border: thin blue solid;
  font-family: sans-serif;
  padding: .5em;
  border-radius: 1em;
}

blockquote.antwort {
  margin-left: 6em;
}

blockquote.antwort2 {
  margin-left: 9em;
}

blockquote.antwort3 {
  margin-left: 12em;
}

blockquote::before {
  display: block;
  margin-bottom: .5em;
  color: #888;
}

blockquote.tweet_nofollow::before {
  content: "@ungefolgter twittert:";
}

blockquote.tweet_irgendwer::before {
  content: "@irgendwer twittert:";
}

blockquote.tweet_follower::before {
  content: "@gefolgter twittert:";
}

blockquote.tweet_bot::before {
  content: "@_ds_100 twittert:";
}

table, th, td {
  border-collapse: collapse;
  border: thin black solid;
}

table tbody th {
  text-align: left;
}

table tbody td {
  text-align: center;
}

table.dumptable tbody td {
  text-align: left;
}

table.dumptable tbody th {
  text-align: left;
  font-family: monospace;
}

th.yes, td.yes {
  background-color: #00ff00;
}

th.note, td.note {
  background-color: #ffd000;
}

th.no, td.no {
  background-color: #ff8080;
}

header, main, section {
  clear: both;
}

navi p {
  display: block;
  float: left;
  margin-right: 1em;
  margin-top: .1em;
  margin-bottom: .3em;
}

navi p:before {
  content: "☰ ";
  display: inline-block;
  margin-right: .2em;
}

.closenavi:before {
  content: "× ";
  display: inline-block;
  font-size: 200%;
  font-weight: bold;
}

div.shownnavi {
  width: 250px;
}

div.dumpnavi.shownnavi {
  max-width: 100%;
  min-width: 400px;
}

div.hiddennavi {
  width: 0px;
}

div.sidenavi {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow-x: hidden;
  background-color: #c0d0ff;
}

div.dumpnavi {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 1s;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #c0d0ff;
}

navi ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

navi ul li.hiddennavi div:before {
  content: "▷ ";
}

navi ul li.shownnavi div:before {
  content: "▽ ";
}

navi ul li {
  display: block;
  padding: .2em;
  background-color: #c0d0ff;
  color: #202840;
}

navi ul li:hover {
  background-color: #80a0ff;
  color: white;
}

navi ul li ul {
  transition: 0.5s;
  margin-left: 1em;
}

navi li a {
  display: block;
  color: white;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

navi li > a {
  color: black;
}

navi li:hover > a {
  color: white;
}

navi ul li.transform_version:hover {
  background-color: #c0d0ff;
  color: black;
}

navi ul li.hiddennavi ul {
  display: none;
}

navi ul li.shownnavi ul {
  display: block;
}

div span.sigil {
  padding-right: .5em;
  font-weight: bold;
  font-family: monospace;
}

div.bigdumplist div.closenavi {
  display: none;
}

.only-mastodon {
  display: initial;
  color: #ff0000;
}

.only-twitter {
  display: initial;
  color: #0000ff;
}

.only-mastodon:before {
   content: "";
   display: inline-block;
   background-image: url('mastodon-icon.png');
   background-size: 100% 100%;
   height: 16px;
   width: 16px;
   margin-right: 4px;
}

.only-twitter:before {
   content: "";
   display: inline-block;
   background-image: url('twitter-icon.png');
   background-size: 100% 100%;
   height: 16px;
   width: 16px;
   margin-right: 4px;
}
